h1 {
	font-size: 32px;
	text-align: center;
}

h3::before {
	height: inherit;
	width: 3px;
	background-color: var(--font-color);
	margin-right: 10px;
	content: "";
}

/* main {
	max-width: 45%;
	padding-top: 80px;
} */
.viewport {
	width: 60%;
}

@media only screen and (max-width: 1000px) {
	main {
		max-width: 90%;
		width: 90%;
	}

	#projects.table .item {
		grid-template-columns: 40% 40% 20% !important;
	}

	#projects-legend.table .item {
		grid-template-columns: 10% 90% !important;
	}

	#projects.table .item div:nth-of-type(2),
	#projects.table .item div:nth-of-type(4) {
		display: none;
	}

	.viewport {
		width: 90%;
	}
}

#projects.table .item {
	grid-template-columns: 40% 20% 15% 25%;
}

#projects-legend.table .item {
	grid-template-columns: 10% 90%;
}
