@media only screen and (max-width: 1000px) {
    .container {
        width: --container-mobile-size;
        max-width: --container-mobile-size;
        min-width: --container-mobile-size;
    }

    .row {
        flex-direction: column;
    }

    .row.row-converter .column:last-of-type::before {
        content: "arrow-down";
        left: 50%;
        transform: translateX(-50%);
        top: -20%;
    }
}