.text {
    &-align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 50px 0px;
    }
}