@media only screen and (max-width: 1000px) {
    fieldset {
        &.grow {
            max-width: 90%;
            min-width: 90%;
        }

        &:has(nav.menu, button.menu-button) {
            max-width: 100% !important;
            background: none;
            border: none;
            position: fixed;
            bottom: 0;
            z-index: 99;
        }

        &:has(nav, button.menu-button) .btn {
            width: 64px !important;
            height: 64px !important;
            border-radius: 50%;
            position: absolute;
            right: 4rem;
            bottom: 2rem;
            background-color: var(--buttons-normal);
            border-color: var(--buttons-normal-border);
        }

        &:has(nav, button.menu-button) button {
            display: flex !important;
        }

        &:has(nav, button.menu-button) nav.menu {
            display: none;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            background-color: var(--menu-collapse-background);
            position: fixed;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 0px;
            bottom: 7rem;
            z-index: 999;
            max-height: 75vh;
            overflow: auto;
        }
    }
}
