#notifications:has(p) {
    padding: 15px 10px;
    background-color: dodgerblue;
    border: 1px solid #0166ca;
    border-radius: 5px;
    margin-bottom: 20px;

    &.danger {
        background-color: rgb(255, 30, 30);
        border-color: #ca0101;
    }

    &.success {
        background-color: rgb(63 149 77);
        border-color: #2c9b00;
    }

    &.warning {
        background-color: #ffc107;
        border-color: #dda600;
        color: #000;
    }

    &.pop-notification {
        animation: 8.3s notification-pop infinite;
    }

    @keyframes notification-pop {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}