@media only screen and (max-width: 1000px) {
    .menu {
        border: none;
        position: fixed;
        background-color: var(--menu-header-background);
        width: 100%;
        left: 0;
        padding: 10px 0px;
        z-index: 999;
        max-height: 80vh;
        overflow: auto;

        ul {
            display: flex;
            flex-direction: column;
            margin: 0px 10px;

            li {
                line-height: 3rem;
            }
        }

        .menu-button {
            display: flex !important;
        }

        &.menu-mobile-spry {
            position: fixed;
            overflow: unset;

            max-height: 6rem;
            min-height: 6rem;
            
            nav {
                display: none;
                width: 100vw;
                position: absolute;
                background-color: black;
                padding: 20px;
                left: 0;
                margin-left: 0;
                top: 5rem;
            }

            & + .viewport {
                padding-top: 7rem;
            }
        }
    }
}