:root {
    --menu-header-background: #303030;
    --menu-collapse-background: #fff;
    --menu-collapse-border-color: #ccc;
    --menu-collapse-font-color: #000;
}

:root.dark {
    --menu-header-background: #1c1c1c;
    --menu-collapse-background: #2c2c2c;
    --menu-collapse-border-color: #838383;
    --menu-collapse-font-color: #fff;
}