.breadcrumb ul {
    display: flex;

    & li {
        &::after {
            content: ">";
            margin-left: 10px;
            margin-right: 10px;
        }

        &:last-of-type {
            margin-right: 0px;

            &:after {
                content: "";
                margin-right: 0px;
            }
            
        }
    }
}