.projects-grid {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    a {
        text-decoration: none;
        color: inherit;
    }
    .project-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &:hover {
            .project-info-rating {
                display: flex;
            }

            .project-info {
                display: flex;
            }
        }

       .project-info-rating {
            transition: .3s ease-in-out;
            display: none;
            color: #fff;
            padding: 10px;
            align-self: flex-end;
            position: absolute;
            background-color: rgba($color: #000000, $alpha: .8);
        }

        .project-thumbnail {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .project-info {
            transition: .3s ease-in-out;
            width: 100%;
            bottom: 0;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: .8);
            position: absolute;
            padding: 10px;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-name {
                font-weight: 700;
            }
        }
    }

}