:root {
    --color1: #000;
    --color2: #000;
    --color3: #000;
    --color4: #000;
    --color5: #000;
}

.preview {
    border: 1px solid var(--border-color);
    width: 100%;
    min-height: 270px;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

@keyframes switch-1 {
    0% {
        background-color: var(--color1);
    }

    100% {
        background-color: var(--color2);
    }
}

@keyframes switch-2 {
    0% {
        background-color: var(--color1);
    }

    50% {
        background-color: var(--color2);
    }

    100% {
        background-color: var(--color3);
    }
}

@keyframes switch-3 {
    0% {
        background-color: var(--color1);
    }

    33% {
        background-color: var(--color2);
    }

    66% {
        background-color: var(--color3);
    }

    100% {
        background-color: var(--color4);
    }
}

@keyframes switch-4 {
    0% {
        background-color: var(--color1);
    }

    25% {
        background-color: var(--color2);
    }

    50% {
        background-color: var(--color3);
    }

    75% {
        background-color: var(--color4);
    }

    100% {
        background-color: var(--color5);
    }
}

@media only screen and (max-width: 1000px) {
    fieldset {
        max-width: none;
    }

    .btn {
        padding: 1em 1.5em;
    }

    .row:first {
        gap: 25px;
    }
}