.preview {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview, .settings {
    flex: 1;
}

.preview div {
	width: 300px;
	height: 200px;
	background-color: #ccc;
}

.values__single {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
}

.settings__mode {
    display: flex;
}

.settings__values {
    margin-top: 40px;
}

.settings__mode .input-group:first-of-type {
    margin-right: 15px;
}

.settings__code {
    font-family: 'Inconsolata', monospace;
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .flexbox {
        height: 100vh !important;
    }
}