.menu .toggle-theme {
    bottom: 0;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.toggle-theme {
    display: flex;
    position: absolute;
    background: none;
    align-items: center;
    border: none;
    bottom: -50px;
    right: 0;

    &::after {
        font-family: var(--icon-font-family-icons);
        content: var(--toggle-theme-icon);
        font-size: var(--toggle-theme-icon-size);
    }


    &:hover {
        cursor: pointer;
    }

    &:disabled {
        color: #414141;

        &:hover {
            cursor: not-allowed;
        }
    }

}