.menu .toggle-theme {
    color: #fff;
}

.toggle-theme {
    display: flex;
    background: none;
    align-items: center;
    border: none;

    &::before {
        font-family: var(--icon-font-family-icons-solid);
        content: var(--toggle-theme-icon);
        font-size: var(--toggle-theme-icon-size);
    }


    &:hover {
        cursor: pointer;
    }

    &:disabled {
        color: #414141;

        &:hover {
            cursor: not-allowed;
        }
    }

}